%ul{:id=>"sortable"}
	-@events.each do |item|
		%li{:id=>"#{item.id}", :class=>"row-fluid"}
			.span1
				%a{:class=>"finish_todo", "data-toggle"=>"modal"}
					%i{:class=>item.expired ? "icon-warning-sign" : "icon-ok"}
			.span2
				-(1..(4-item.priority.to_i)).each do |i|
					%i{:class=>"icon-star"}
			.span4= item.title
			.span4= item.start_time
			.span1
				-if !item.done
					%a{:class=>"edit_todo", "data-toggle"=>"modal"}
						%i{:class=>"icon-edit"}
				%a{:class=>"todo_details", "data-toggle"=>"modal"}
					%i{:class=>"icon-th-large"}
-if !@archive
	%input{:type=>"submit", :value=>"Save list order", :class=>"btn btn-inverse", :id=>"submit-list" }
-if !@loaded
	%button{:class=>"btn btn-inverse pull-right", :id=>"todo_more"} More TODOs
-else
	%button{:class=>"btn btn-inverse pull-right", :disabled=>"disabled"} No more TODOs
		