%form{:class=>"modal-form", :id=>"form_todo", :action=>"javascript:void(0)"}
	.modal-header
		%button{"type"=>"button", :class=>"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"} X
		%h3{:id=>"myModalLabel"} Task
	.modal-body.form-horizontal
		%input#id{ :type => "hidden", :value => @todo.id }			
		%input#done{ :type => "hidden", :value => @todo.done }
		%input#sort_num{ :type => "hidden", :value => @todo.sort_num }
		%input#time_finished{ :type => "hidden", :value => @todo.time_finished }
		.control-group
			%label{:class=>"control-label"} Title
			.controls
				%input#title{ :type => "text", :value => @todo.title }
		.control-group
			%label{:class=>"control-label"} Start time
			.controls
				%input#start_time{ :type => "text", :value => "#{@todo.start_time}" }
		.control-group
			%label{:class=>"control-label"} Priority
			.controls
				%select#priority{ :name => "priority"}
					%option{:value=>"1"} High
					%option{:value=>"2"} Medium
					%option{:value=>"3"} Low
		.control-group
			%label{:class=>"control-label"} Description
			.controls
				%textarea#description{ :rows => "5", :cols=>"40" }=@todo.description
	.modal-footer
		%button{:class=>"btn", "data-dismiss"=>"modal", "aria-hidden"=>"true"} Close
		%button{:class=>"btn btn-primary", :id=>"submit_todo"} Save changes
		-if @todo.id!=0 && @todo.id!=nil
			%button{:class=>"btn btn-inverse pull-right", "data-toggle"=>"modal", :id=>"delete_todo", "todoid"=>"#{@todo.id}"} Delete